h1 {
  text-align: center;
  font-size: 70px;
  color: #7E0303;
  display: inline-block;
  font-family: georgia;
}

p {
  color: #FFFFFF;
  font-size: 20px;
}
body {
  background: #242324;
  color: #FFFFFF;
}
hr {
  border-color: #5c0000;
  background-color: #5c0000;
  color: #5c0000;
}

h2 {
  font-size: 20px;
}
li {
  color: #c4c1cb;
}

h5 {
  font-size: 70px;
  text-align: center;
}
.parent {
  background-image: url(https://media.istockphoto.com/id/1401295466/vector/halftone-spotted-background.jpg?s=612x612&w=0&k=20&c=ql7PRJ1ffHk-Zkj4cDeePpLzmqAPzgIVtfBkCsoqK2Q=);
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.viper {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: ;
}

#vleft {
  margin-right: 20%;
}

#vright {
  margin-left: 20%;
}
